@{
    ViewData["Title"] = "Contacts";
}

<div class="text-center">
    <h1 class="display-4">Contacts</string></h1>
    <p> Email = ONeill-T33@ulster.ac.uk</p>
    <p>Phone number = 044384596676.</p>
    <p>School = Ulster University(Magee)</p>
</div>
