@{
    ViewData["Title"] = "Home Page";
}

<style>
    .name {
        text-transform: uppercase;
    }

        .name span {
            color: red;
        }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <p>Welcome users to the Magee Students web portal to Create, Retrieve, Update and Delete students. All you have to do is click the "Student" menu item at the top of the screen.</p>
    <p>If you want to find out how to contact me all you have to do is click the Contact button at the top of the screen</p>
    <p>If you want to find out more baout this project all you have to do is click the about bitton at the top of the screen</p>
</div>
