@{
    ViewData["Title"] = "Home Page";
}

<style>
    .name {
        text-transform: uppercase;
    }

        .name span {
            color: red;
        }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</string></h1>
    
    <p>This web site will allow you to Retrieve Update and Delete students using the repository pattern.</p>
    <p>This web site will allow you to Retrieve Update and Delete students using the repository pattern.</p>
    <p>This web site will allow you to Retrieve Update and Delete students using the repository pattern.</p>
    <p>This web site will allow you to Retrieve Update and Delete students using the repository pattern.</p>

</div>
