@{
    ViewData["Title"] = "About";
}

<style>
    .center {
        text-align: center;
    }
</style>

<div class="center">
    <h1>@ViewData["Title"]</h1>

    <p>This is a Ulster university project called Magee Students.</p>
    <p>You can create a new student, edit, and delete students too.</p>
    <p>All of the info goes back into a database where all the info is saved safely.</p>
</div>
